/* FONT */
@font-face {
    font-family: BradBun;
    src: url('../fonts/BradBunR.ttf');
}
@font-face {
    font-family: swiss;
    src: url('../fonts/swiss.ttf');
}
@font-face {
    font-family: WC_RoughTrad;
    src: url('../fonts/WC_RoughTrad.ttf');
}
.swiss {
	font-family: swiss;
}
.brady {
	font-family: BradBun;
}
.WC {
	font-family: WC_RoughTrad;
}


/* CSS Style */

/* Fons Web  i amplades */ 
.estiula {
	max-width: 990px;
	padding-left: 0px;
	padding-right: 0px;
}
.carrusel {
	max-width: 961px;	
}
.tot { 
	background:url('../img/fons_web.jpg') no-repeat top center;
}

.petit {
	background:url('../img/fons_ARBRES_PETIT.jpg') no-repeat top center;
}
.row {
	margin-left: 0px;
	margin-right: 0px;
}
/* Modificadors de Style */
.taronja {
	color: #CD5D2B;
}
.subratllar {
 text-decoration: underline;
}
.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.activitats {
	padding: 25px;
}
.activitatsMain {
	padding-left: 15px;
	padding-right: 15px;
}
.left {
	float:left;
}
.uppercase {
	text-transform: uppercase;
}
.circuits {
	padding-left: 5px;
	padding-right: 5px;
}
/* Part Central de la Web */ 
.col-centre {
	background: url("../img/fons_text_PORTADA.jpg") no-repeat center top;
	height: 100%;
}
/* FOOTER */
.footer {
	text-align: center;
	height: 424px;
	background: url("../img/peu_pagina.jpg") no-repeat center top;
}

/* NAV BAR */
.web {
position: relative;
top:-50px;	
}
.navbar {

min-height: 50px;
margin-bottom: 0px;
border: 1px solid transparent;
font-family:WC_RoughTrad;
}
.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
	color: #CD5D2B;
	font-size: 23px;
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus
	{
	color: #555;
	background-color: #ffffff;
}