/* FONT */
@font-face {
    font-family: swiss;
    src: url('../fonts/swissc.ttf');
}
@font-face {
    font-family: WC_RoughTrad;
    src: url('../fonts/WC_RoughTrad.ttf');
}
@font-face {
    font-family: BlackMetalSans;
    src: url('../fonts/BlackMetalSans.ttf');
}
@font-face {
    font-family: Timoteo;
    src: url('../fonts/Timoteo.ttf');
}
@font-face {
    font-family: BradBunR;
    src: url('../fonts/BradBunR.ttf');
}

.swiss {
	font-family: swiss;
	font-size: 21px;
}
.brady {
	font-family: BradBunR;
	font-size: 21px;
}
.WC {
	font-family: WC_RoughTrad;
	font-size: 21px;
}
.blackMetal {
	font-family: BlackMetalSans;
	font-size: 21px;
}
.timoteo {
	font-family: Timoteo;
	font-size: 21px;
}


/* CSS Style */
a, a:hover, a:focus{
	color:#CD5D2B;
}
.uppercase {
	text-transform: uppercase;
}
/* Fons Web  i amplades */ 
.estiula {
	max-width: 990px;
	padding-left: 0px;
	padding-right: 0px;
}
.carrusel {
	max-width: 961px;	
}
/* .tot {  */
/* 	background:url('../img/fons_web.jpg') no-repeat top center; */
/* } */

/* .petit { */
/* 	background:url('../img/fons_petit.jpg') no-repeat top center; */
/* } */
.row {
	margin-left: 0px;
	margin-right: 0px;
}
/* Modificadors de Style */
.taronja {
	color: #CD5D2B;
}
.subratllar {
 text-decoration: underline;
}
.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.activitats {
	padding: 25px;
}
.activitatsMain {
	padding-left: 50px;
	padding-right: 50px;
}
.left {
	float:left;
}
.circuits {
	padding-left: 5px;
	padding-right: 5px;
}
/* Part Central de la Web */ 
.col-centre {
	background: url("../img/fons_text_PORTADA.jpg") no-repeat center top;
	box-shadow: 10px 10px 5px #343434;
}
.col-centre-portada {
	min-height: 1452px;
}
.col-centre-petit {
	min-height: 1172px;
}
.col-centre-tarifes {
	min-height: 968px;
}
.col-centre-activitats {
	min-height: 1046px;
}
.col-centre-tiquet {
	min-height: 1300px;
}
.marge-top {
	padding-top: 50px;
}
.titol {
	box-shadow: 0px 10px 10px #343434;
}
.banner {
	padding-left: 25px;
}

.paddInterior {
	padding-top: 35px;
}
.paddInteriorMig {
	padding-top: 65px;
	font-size: 25px;
}
.paddInteriorPetit {
	padding-top: 25px;
	font-size: 19px;
}

/* nav BAR*/
.navbar {

	margin-bottom: 0px;
	border: 1px solid transparent;
	font-family:WC_RoughTrad;
}
.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
	color: black;
	font-size: 23px;
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus
	{
	color: black;
	background-color: #CD5D2B;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
	background-color: #CD5D2B;
	color: #black;
}
.dropdown-menu>li>a {
display: block;
padding: 3px 20px;
clear: both;
font-weight: 400;
line-height: 1.42857143;
color: #CD5D2B;
white-space: nowrap;
}
