<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>EstiulAventura</title>
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/estiula.css" rel=stylesheet type="text/css">
<script	src="js/angular.min.js"></script>
<script	src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-app="EstiulaAventura" ng-controller="TabController as tab">
	<div back-img="{{tab.background}}">
		<div class="estiula container-fluid">
			<div ng-init="tab.setTab(12)" ng-include="'navigation.html'"></div>
			<div ng-controller="CarouselDemoCtrl">
				<carousel interval="myInterval"> <slide
					ng-repeat="slide in tab.galleryBauma" active="slide.active"> <img
					ng-src="{{slide.src}}" class=" img-responsiv img-thumbnail">
				</slide> </carousel>
			</div>
			<div class="{{tab.fons}} col-centre row ">
				<img class="titol img-responsive"
					src="img/circuits/titols/titol_TARONJA_LA_BAUMA.jpg">
				<div class="col-lg-11 col-md-11 col-sm-11">
					<div
						class="row-fluid col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
						<p class="swiss">Els adults i els nens m&eacute;s alts de 1,30
							m que hagin superat amb &egrace;xit el circuit de la Tosca
							(Blau), podran gaudir de les al&ccedil;ades i les vistes a la
							serra del Montgrony.</p>

						<p class="swiss">L&#39;al&ccedil;ada de 10 metres i la
							llargada dels jocs fan que, merescudament, aquest circuit canvi
							de nivell i sigui de color taronja.</p>
						<p class="timoteo">Els Jocs del Circuit</p>
					</div>
				</div>
				<div class="col-lg-5 col-md-5 col-sm-5">
					<div
						class="row-fluid col-lg-offset-1 col-md-offset-1 col-sm-offset-1">

						<ul class="swiss">
							<li>Tronc horitzontal</li>
							<li>Cordes gronxants</li>
							<li>Pont Indiana Jones</li>
							<li>Xarxa en U</li>
							<li>Gronxadors</li>
							<li>Slackline</li>
							<li>Pont de mico</li>
							<li>Bidons penjats</li>
							<li>Pont nepal&egraves</li>
							<li>Pont de xarxa plana</li>
							<li>Pont de gronxadors</li>
							<li>Pont combinat</li>
							<li>Tirolina final</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<img style="max-width: 100%"
						src="//cdn.thinglink.me/api/image/599931742039572482/1024/10/scaletowidth#tl-599931742039572482;1043138249'"
						class="alwaysThinglink" />
					<script async charset="utf-8" src="//cdn.thinglink.me/jse/embed.js"></script>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-10">
					<div
						class="row-fluid col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
						<p class="timoteo">Caracter&iacute;stiques t&egrave;cniques
							del circuit</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div
						class="row-fluid col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
						<ul class="swiss">
							<li>Numero de jocs: 13</li>
							<li>Alçada plataformes: entre 2 i 10 metres</li>
							<li>Longitud total circuit:</li>
							<li>A partir de: 1,30 m d&#39;al&ccedil;ada</li>
							<li>Dificultat: mitjana</li>
							<li>Durada: 35 minuts</li>
						</ul>
					</div>
				</div>
				<div class=" col-lg-5 col-md-5 col-sm-5"
					ng-controller="ModalDemoCtrl">
					<div class="thumbnail row">
						<a ng-repeat="photo in tab.baumaImgRow1"
							class="col-lg-4 col-md-4 col-sm-4" href><img
							src="{{ photo.src }}" ng-click="open(photo)"></a>
					</div>
					<div class="thumbnail row">
						<a ng-repeat="photo in tab.baumaImgRow2"
							class="col-lg-4 col-md-4 col-sm-4" href><img
							src="{{ photo.src }}" ng-click="open(photo)"></a>
					</div>
				</div>
			</div>


			<div class="row " ng-include="'footer.html'"></div>
		</div>
	</div>
	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script',
				'//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-52510623-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>
