<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<!-- 						<a class="navbar-brand" href="#">Brand</a> -->
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="taronja nav navbar-nav">
				<li class="dropdown"><a href class="dropdown-toggle taronja"
					data-toggle="dropdown">Inici <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li ng-class="{ active:tab.isSet(2)}" ><a ng-click="tab.setTab(2)" href="#">Qui Som?</a></li>
						<li ng-class="{ active:tab.isSet(3)}" ><a ng-click="tab.setTab(3)" href>A qui va dirigit?</a></li>
						<li ng-class="{ active:tab.isSet(4)}" ><a ng-click="tab.setTab(4)" href>On Som?</a></li>
						<li ng-class="{ active:tab.isSet(5)}" ><a ng-click="tab.setTab(5)" href>Seguretat</a></li>
						<li ng-class="{ active:tab.isSet(6)}" ><a ng-click="tab.setTab(6)" href>Comprom&iacute;s ecol&ograve;gic</a></li>
						<li ng-class="{ active:tab.isSet(7)}" ><a ng-click="tab.setTab(7)" href>Pregutnes Freq&uuml;ents</a></li>
					</ul></li>
				<li ng-class="{ active:tab.isSet(8)}" ><a ng-click="tab.setTab(8)" href>Circuits</a></li>
				<li ng-class="{ active:tab.isSet(9)}" ><a ng-click="tab.setTab(9)" href>Activitats</a></li>
				<li ng-class="{ active:tab.isSet(10)}"><a ng-click="tab.setTab(10)" href>Tarifes</a></li>
				<li ng-class="{ active:tab.isSet(11)}"><a ng-click="tab.setTab(11)" href>Horaris</a></li>
<!-- 				<li class="dropdown"><a href="#" class="dropdown-toggle" -->
<!-- 					data-toggle="dropdown">Galeria <span class="caret"></span></a> -->
<!-- 					<ul class="dropdown-menu" role="menu"> -->
<!-- 						<li ng-class="{ active:tab.isSet(12)}"><a ng-click="tab.setTab(12)" href>Entorn</a></li> -->
<!-- 						<li ng-class="{ active:tab.isSet(13)}"><a ng-click="tab.setTab(13)" href>Circuit Blau</a></li> -->
<!-- 						<li ng-class="{ active:tab.isSet(14)}"><a ng-click="tab.setTab(14)" href>Circuit Taronja</a></li> -->
<!-- 						<li ng-class="{ active:tab.isSet(15)}"><a ng-click="tab.setTab(15)" href>Circuit Verd</a></li> -->
<!-- 						<li ng-class="{ active:tab.isSet(16)}"><a ng-click="tab.setTab(16)" href>Serveis</a></li> -->
<!-- 						<li ng-class="{ active:tab.isSet(17)}"><a ng-click="tab.setTab(17)" href>Vídeo</a></li> -->
<!-- 					</ul></li> -->
				<li ng-class="{ active:tab.isSet(18)}" ><a ng-click="tab.setTab(18)" href>Contacte</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
	<div class="col-centre row" ng-show="tab.isSet(1)" ng-include="'landingPage.html'"></div>
	<div class="col-centre row" ng-show="tab.isSet(2)" ng-include="'quisom.html'"></div>
	<div class="col-centre row" ng-show="tab.isSet(3)" ng-include="'aquivadirigit.html'"></div>
	<div class="col-centre row" ng-show="tab.isSet(4)" ng-include="'onsom.html'"></div>
	<div class="col-centre row" ng-show="tab.isSet(5)" ng-include="'seguretat.html'"></div>
	<div class="col-centre row" ng-show="tab.isSet(6)" ng-include="'compromis.html'"></div>
	<div class="col-centre row" ng-show="tab.isSet(7)" ng-include="'faq.html'"></div>	
	<div class="col-centre row" ng-show="tab.isSet(8)" ng-include="'circuits.html'"></div>
	<div class="col-centre row" ng-show="tab.isSet(9)" ng-include="'activitats.html'"></div>
	<div class="col-centre row" ng-show="tab.isSet(10)"	ng-include="'tarifes.html'"></div>
	<div class="col-centre row" ng-show="tab.isSet(11)"	ng-include="'horaris.html'"></div>
<!-- 	<div class="col-centre row" ng-show="tab.isSet(12)"	ng-include="'galeria_ENT.html'"></div> -->
<!-- 	<div class="col-centre row" ng-show="tab.isSet(13)"	ng-include="'galeria_CB.html'"></div> -->
<!-- 	<div class="col-centre row" ng-show="tab.isSet(14)"	ng-include="'galeria_CT.html'"></div> -->
<!-- 	<div class="col-centre row" ng-show="tab.isSet(15)"	ng-include="'galeria_CV.html'"></div> -->
<!-- 	<div class="col-centre row" ng-show="tab.isSet(16)"	ng-include="'galeria_SRV.html'"></div> -->
<!-- 	<div class="col-centre row" ng-show="tab.isSet(17)"	ng-include="'galeria1.html'"></div> -->
	<div class="col-centre row" ng-show="tab.isSet(18)"	ng-include="'contacte.html'"></div>
	<div class="col-centre row" ng-show="tab.isSet(19)"	ng-include="'escoles.html'"></div>
</nav>